html {
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%, rgba(79,220,74,1) 30%, rgba(63,218,216,1) 40%, rgba(47,201,226,1) 50%, rgba(28,127,238,1) 60%, rgba(95,21,242,1) 70%, rgba(186,12,248,1) 80%, rgba(251,7,217,1) 90%, rgba(255,0,0,1) 100%);
}
marquee {
  background: linear-gradient(-90deg, rgb(0, 255, 38) 0%, rgb(0, 247, 255) 100%);
  color: #6a3115;
  font-size: 72px;
  animation: rotate 5s linear infinite;
}
body {
  border: 10px dotted red;
  cursor: url('frosch.jpeg'), auto;
}
img {
  border: 10px dashed brown;
}
img:hover {
  animation: rotate 1s reverse linear infinite;
}
form {
  background-color: aqua;
}
form:hover {
  animation: rotate 1000s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
    zoom: 1;
  }
  50% {
    transform: rotate(180deg);
    zoom: 1.5;
  }
  100% {
    transform: rotate(360deg);
    zoom: 1;
  }
}