body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: Arial, sans-serif;
}
.content {
    display: flex;
    gap: 20px;
}
.sections {
    width: 300px;
    background-color: #f0f0f0;

    display: flex;
    flex-direction: column;
}
.sections button {
    padding: 10px;
    border: none;
    background-color: #ddd;
    cursor: pointer;
}
.sections button:hover {
    background-color: #ccc;
}
.section.active {
    background-color: #bbb;
}